###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# IDE
.idea/
.vscode/
*.iml
.claude/

# macOS
.DS_Store

# Docker overrides
docker-compose.override.yml